<%= nested_form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <!-- <div class="field">
    <%= f.label :published_on %><br />
    <%= f.date_select :published_on %>
  </div> -->
  <% unless @survey.published? %>
    <div class="field">
      <%= f.label :published %><br />
      <%= f.check_box :published %>
    </div>
  <% end %>
  <div style="background-color: yellow; marging-left: 20px;" >
    <b><p>Questions</p></b>
    <%= f.fields_for :questions do |question_form| %>
      <div class="field">
        Content: <%= question_form.text_field :content %>
        Type: <%= question_form.select(:type, @options) %>
        <%= question_form.link_to_remove "Remove this question" %>
      </div>
    <% end %>
    <p><%= f.link_to_add "Add a question", :questions %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
