<h1>Listing surveys</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Published on</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= survey.id %></td>
    <td><%=link_to survey.name, new_survey_response_path(survey) %></td>
    <td><%= truncate(survey.description, :length => 40, :separator => '...') %></td>
    <td><%= survey.published_on %></td>
    <td><%= survey.published %></td>
    <td><%= link_to 'Responses', survey %></td>
    <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey', new_survey_path %>
