<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey.name %>
</p>

<p>
  <b>Description:</b>
  <%= @survey.description %>
</p>

<p>
  <b>Published on:</b>
  <%= @survey.published_on %>
</p>

<p>
  <b>Published:</b>
  <%= @survey.published %>
</p>

<% if @survey.have_question? %>
	<b>Questions</b>
	<ul>
		<% @survey.questions.each do |question| %>
			<li><%= question.content %> - (<%= question.type_name %>)</li>
		<% end %>
	</ul>
<% end %>


<%#= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
