
<p>
  <b>Name:</b>
  <%= @survey.name %>
</p>

<p>
  <b>Description:</b>
  <%= @survey.description %>
</p>

<p>
  <b>Published on:</b>
  <%= @survey.published_on %>
</p>

<p>
  <b>Published:</b>
  <%= @survey.published %>
</p>

<% if @survey.have_question? %>
	<b>Questions</b>
	<ul>
		<% @survey.questions.each do |question| %>
			<li><%= question.content %> - (<%= question.type_name %>)</li>
		<% end %>
	</ul>
<% end %>
<hr>

<h2>User Responses</h2>
<table>
  <tr>
    <th>User</th>
    <% @survey.questions.each do |question| %>
      <th><%= question.content %></th>
    <% end %>
  </tr>
  <% @survey.responses.each do |response| %>  
    <tr>
      <td><%= response.user.user_name %></td>
      <% response.answers.each do |answer| %>
        <td><%= answer.content %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<hr>



<%#= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
