<!DOCTYPE html>
<html>
<head>
  <title>BttSurvey</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"%>
	<%= javascript_include_tag "http://code.jquery.com/ui/1.10.2/jquery-ui.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<table>
			<tr>
				<td><%=link_to "Home", home_path %></td>
				<% if admin? %>
					<td><%=link_to "Surveys", surveys_path %></td>
				<% end %>
				<td><%=link_to "Sign up", sign_up_path %></td>
				<% if current_user %>
					<td>
						<%= current_user.user_name %> 
						<%= "[Admin]" if admin? %>
						(<%=link_to "Log out", log_out_path %>)</td>
				<% else %>
					<td><%=link_to "Log in", log_in_path %></td>
				<% end %>
			</tr>
		</table>
	</div>
	<hr>
	<p id="notice"><%= notice %></p>
	<%= yield %>

</body>
</html>
