<!DOCTYPE html>
<html>
<head>
  <title>BttSurvey</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"%>
	<%= javascript_include_tag "http://code.jquery.com/ui/1.10.2/jquery-ui.js" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
